*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #225345;
    font-family: 'Josefin Sans', sans-serif;
}

ul{
    list-style: none;
    font-style: italic;
}

a{
    text-decoration: none;
}

body{
    background-size: 100vw;
    background-image: url(img/pexels-pixabay-257894.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header ul{
    display: flex;
}

header ul li{
    padding: 5px;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 50px;
}

.container .name h5{
    font-size: 20px;
}

.form{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.form input{
    width: 50%;
}

.form button{
    width: 15%;
}

#about p{
    max-width: 600px;
    margin: 0 auto;
}