*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #225345;
    font-family: 'Josefin Sans', sans-serif;
}

ul{
    list-style: none;
    font-style: italic;
}

a{
    text-decoration: none;
}

body{
    background-size: 100vw;
    background-image: url(img/pexels-pixabay-257894.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
}

#logo{
    max-width:40%;
    max-height:40%;
    width: auto;
    height: auto;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #225345;
}

header ul{
    display: flex;
}

header ul li{
    padding: 5px;
}

header ul li{
    padding: 5px;
}

header ul li a{
    transition: 500ms;
}

header ul li a:hover{
    font-size: 20px;
    color: #77a89a;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 44px;
    padding: 5px;
}

.container .name h5{
    font-size: 20px;
}

.form{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.form input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button{
    width: 15%;
    padding: 5px 10px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background: linear-gradient(to right, #225345 50%, #77a89a 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -4px;
    transition: all 500ms ease-out;
}

.form button:hover{
    background-position: left bottom;
}

#about p{
    max-width: 600px;
    margin: 0 auto;
}